.row {
    padding: 25px;
}

h1, h2, .thumbnail, button {
    font-family: agilis;
}

.coverPhotoFarm {
    width: 80vw;
    margin: auto;
    display: block;
    border: 30px solid black;
    border-radius: 25px;
    border-image: url("../imgBorder/border3.png") 80 stretch;
}

#price {
    color: darkgreen;
    font-weight: bold;
}

@media (min-width: 600px) {
    .coverPhotoFarm {
        width: 60vw;
    }
}

@media (min-width: 990px) {
    .coverPhotoFarm {
        width: 45vw;
    }
}