#footerConnect {
    margin-bottom: 0px;
}

.fa, #footerConnect {
    font-size: 25px;
    color: white;
    padding-right: 5px;
    padding-left: 5px;
}

.icon {
    padding-right: 10px;
    padding-left: 10px;
}

small, .fa-coffee, .fa-heart {
    font-size: 15px;
}

.fa-heart {
    color: red;
}

.page-footer {
    /* For Sticky Footer instead of Fixed: delete these */
    position: fixed;
    bottom: 0px;
    width: 100vw;
    /* --------------- */
    font-family: agilis;
    background-color:rgba(15, 58, 14);
    padding-top: 10px;
    color: white;
}

.icons {
    padding-top: 5px;
    padding-bottom: 10px;
}

.footer-copyright {
    background-color:rgb(16, 44, 16);
    padding: 15px 0;
    letter-spacing: 1px;
}