#contactHeader, #signinHeader {
    padding-bottom: 0;
}

#contact {
    font-family: agilis; 
    color: rgba(15, 58, 14);
}

/* Push Div for Sticky Footer on Contact and Login Pages */
.push {
    height: 39px;
}

.form-control {
    font-family: agilis; 
    color: rgba(15, 58, 14);
    font-weight: bold;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    box-shadow: none;
}

/* Colors for Submit buttons on Login and Contact Us Pages */
#submitForm, #submitLogin {
    background-color: rgba(15, 58, 14);
    color: white;
}

#submitForm:hover, #submitLogin:hover {
    background-color: rgb(52, 150, 50);
    color: white;
}